*.iml
.gradle
/local.properties
.DS_Store
/captures
.externalNativeBuild
.cxx
local.properties
.idea/shelf/
.idea/deploymentTargetSelector.xml
*.hprof
*.log
!gradle/wrapper/gradle-wrapper.jar
.idea/
build/